<sticky-atc>
    <button
        type="button"
        class="sticky-atc-button button button--full-width button--primary"
    >
        <div class="icon">{% render 'icon-cart' %}</div>
        <span>
            {{ 'products.product.add_to_cart' | t }}
        </span>
    </button>
</sticky-atc>