{% if section.settings.product != empty and section.settings.product.metafields.product_information.show_anatomy and section.settings.product.metafields.product_information.anatomy_image != blank %}
  <div class="go-section-anatomy">
    <div data-w-id="24a58652-fd9d-d904-3e38-9459fbecdf9f" class="go-anatomy-container">
      <h2 class="go-h2-title-anatomy">
        {{ section.settings.header }}
        {% if section.settings.show_name %}
          {% assign name = section.settings.product.title | split: " | " %}
          {% if name.first != blank %}
            {{ name.first }}
          {% else %}
            {{ section.settings.product.title }}
          {% endif %}
        {% endif %}
      </h2>
    </div>
  </div>
  {%
    render "go-anatomy-snippet",
    anatomy_product: section.settings.product,
    icon_guide_url: section.settings.icon_guide_url
  %}
{% endif %}

{% schema %}
{
  "name": "go-anatomy",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header for Anatomy",
      "default": "Header"
    },
    {
      "type": "checkbox",
      "id": "show_name",
      "label": "Add product name to end of the header",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product for anatomy"
    },
    {
      "type": "url",
      "id": "icon_guide_url",
      "label": "Icon guide url"
    }
  ],
  "presets": [
    {
      "name": "go anatomy"
    }
  ]
}
{% endschema %}
