<div class="go-section-full-text">
  <div class="go-full-text-container">
    <h2 class="go-h2-title">{{ section.settings.header_text }}</h2>
    <div class="go-paragraph">
     {{ section.settings.paragraph }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "go-paragraph",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "header_text",
      "label": "Hero title",
      "default": "Enter your title here"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph"
    }
  ],
  "presets": [
    {
      "name": "go paragraph"
    }
  ]
}
{% endschema %}
