.go-section-contact-widget {
    width: 0;
}

.go-product-card-badge  {
    position: absolute;
    z-index: 1;
    background: #000000;
    color: #ffffff;
    padding: 5px 12px;
    right: 10px;
    bottom: 10px;
    font-family: proxima-nova,sans-serif;
}

.go-hero-div-height-title {
    flex-wrap: wrap;
}

.go-hero-heading.go-hero-subtitle {
    display: block;
    width: 100%;
    font-size: 34px;
    line-height: 46px;
}

@media (max-width: 768px) {
    .go-hero-heading.go-hero-subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .go-hero-div-height-title {
        margin-bottom: 6px !important;
    }
}

/* Siwper CSS */

.swiper-button-next, .swiper-button-prev {
    width: 35px;
    height: 35px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 13px;
    font-weight: bold;
}

@media (min-width: 990px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .swiper:hover .swiper-button-next, .swiper:hover .swiper-button-prev {
        display: flex;
        animation: fadeOut 0.5s;
    }
}

.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 1);
}

@keyframes fadeOut {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.template--cart .go-contact-widget-btn {
    display: none !important;
}

#product-checkout-form {
    width: 100%;
    margin-top: -20px;
}

#product-checkout-form .button {
    transform: scale3d(1none,1none,1none);
    text-transform: uppercase;
    transform-style: preserve-3d;
    flex: none;
    width: 100%;
    height: 54px;
    padding: 0 20px;
    font-family: proxima-nova, sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: transform .2s ease-in-out, opacity .2s;
}

.product-form__buttons .shopify-payment-button {
    margin-top: 16px;
}



.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: -3.2rem;
  border-top: none;
}

.accordion {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  width: 100%;
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-weight: bold;
  text-transform: uppercase;
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}

.product__accordion .accordion__content {
  padding: 0 1rem;
}

.accordion__content * {
    font-size: 15px;
    counter-reset: var(--black-2);
}

@media (min-width: 990px) {
  #shopify-section-header .header {
    height: auto !important;
  }
}

.sg-product-page-button div.icon,
.sticky-atc-button div.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.sg-product-page-button div.icon svg,
.sticky-atc-button div.icon svg {
  width: 100%;
  height: 100%;
}

sticky-atc {
  position: fixed;
  bottom: 0;
  left: 50%;
  background: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.05);
  transform: translate(-50%, 100%);
  z-index: 999;
  transition: transform 0.55s ease-in-out;
  max-width: 400px;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  sticky-atc {
    max-width: 90%;
  }
}

sticky-atc.show {
  bottom: 1rem;
    transform: translate(-50%, 0);
    transition: 0.55s ease-in-out;
}

sticky-atc.hidden {
    transform: translateY(-50%, 100%);
    transition: 0.55s ease-in-out;
}

.sticky-atc-button {
  transform: scale3d(1none,1none,1none);
  text-transform: uppercase;
  transform-style: preserve-3d;
  background-color: #000;
  flex: none;
  width: 100%;
  height: 54px;
  padding: 0 20px;
  font-family: proxima-nova, sans-serif;
  font-size: 17px;
  font-weight: 700;
  transition: transform .2s ease-in-out, opacity .2s;
}

/* Cart upsell */

.cart-upsell-header {
  font-size: 18px;
  color: #000;
  margin: 0;
  font-weight: 400;
}

.cart-upsell-products {
  margin-bottom: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-upsell-product__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-upsell-product__img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.cart-upsell-product__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-upsell-product__info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
}

.cart-upsell-product__title a {
  text-decoration: none;
  font-size: 15px;
}

.cart-upsell-product__title {
  margin-bottom: 4px;
  margin-top: 0;
}

.cart-upsell-product__price {
  font-size: 14px;
  margin-bottom: 4px;
}

cart-upsell-form,
cart-upsell-form form {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-upsell-product__select {
  width: 40%;
}

.cart-upsell-product__button {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 2px 16px;
  border-radius: 0;
  transition: 0.3s;
  font-size: 12px;
  border: 1px solid #000;
}

.cart-upsell-product__button:hover {
  opacity: 0.7;
}

.cart-upsell-product__button.loading {
  color: transparent;
  position: relative;
}

.cart-upsell-product__button.loading > .loading-overlay__spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.cart-upsell-product__button.loading > .loading-overlay__spinner .spinner {
  width: fit-content;
}

.cart-upsell-product__button.loading > .loading-overlay__spinner .path {
  stroke: rgb(var(--color-button-text));
}

@media (max-width: 768px) {
  .cart-upsell-product__img {
    width: 60px;
    height: 60px;
    min-width: 60px;
  }

  .cart-upsell-product__info {
    width: calc(100% - 80px);
  }
}

.sg-product-page-hero:not(.active) .sg-product-page-image:hover {
  cursor: zoom-in;
}

.sg-product-page-hero.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    gap: 0;
    background-image: none;
    grid-template-columns: 1fr;
}

.sg-product-page-hero.active .sg-product-page-image-block {
  height: 100vh;
}

.sg-product-page-hero.active .sg-product-page-image {
  height: 100vh !important;
  min-height: 100vh !important;
  background-image: none !important;
  width: 100%;
  min-width: 100%;
}

.sg-product-page-hero.active .sg-product-page-image img {
  position: static;
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.sg-product-page-hero:not(.active) .sg-product-page-image-grid__close {
  display: none;
}

.sg-product-page-image-grid__close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid;
  position: fixed;
  top: 16px;
  right: 16px;
  cursor: pointer;
  z-index: 2;
}

.sg-product-page-image-grid__close svg {
  width: 12px;
  height: auto;
}

.cart-drawer__footer .cart__discount {
  display: flex;
  justify-content: space-between;
}

.cart-drawer__footer .cart__discount .discount_input {
  width: 70%;
  padding: 1rem;
  outline: none;
  outline-offset: unset;
  box-shadow: none;
  border: 1px solid;
  border-radius: 0;
}

.cart-drawer__footer .cart__discount .button.button--primary.apply_btn {
  min-width: 27.5%;
  padding: .6rem;
  background-color: #000;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
}